body{
  font-family: Verdana;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.container{
  width: 100%;
  align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #FFF;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p{
  font-size: 16px;
}

.lead{
  font-size: 21px;
  color: gray;
}

a{
  color: aquamarine;
}

.main{
  margin-top: 40px;
}

.first{
  margin-top: 40px;
}

.second{
  margin-top: 100px;
}

.footer{
  text-align: right;
  color: gray;
}
