body{
  font-family: Verdana;
  background-color: #000;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p{
  font-size: 16px;
}
.lead{
  font-size: 21px;
  color: gray;
}
a{
  color: aquamarine;
}
.main .first .second .footer{
  margin-top: 40px;
}
.footer{
  text-align: right;
}
